name: build-kmod

on:
  pull_request:
    types:
      - labeled

jobs:
  build-kmod:
    if: ${{ github.event.label.name == 'run-build-test' }}
    runs-on: ubuntu-22.04

    steps:
    - name: Set PR fetch depth
      run: echo "PR_FETCH_DEPTH=$(( ${{ github.event.pull_request.commits }} + 1 ))" >> "${GITHUB_ENV}"

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: ${{ env.PR_FETCH_DEPTH }}

    - name: Check for agnocast_kmod changes
      id: check_changes
      run: |
        if git diff --name-only ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }} | grep '^agnocast_kmod/'; then
          echo "agnocast_kmod changed"
          echo "kmod_changed=true" >> $GITHUB_OUTPUT
        else
          echo "No agnocast_kmod changed"
          echo "kmod_changed=false" >> $GITHUB_OUTPUT
        fi

    - name: Build kmod
      if: steps.check_changes.outputs.kmod_changed == 'true'
      run: |
        cd agnocast_kmod
        make

    - name: Build kmod with kunit
      if: steps.check_changes.outputs.kmod_changed == 'true'
      run: |
        cd agnocast_kmod
        make test
